<!-- landing section -->
<div class="landing">
  <div class="row w-100 "> 
    <div class="col-lg-1"><img height="70px" src="../assets/images/logo.png" alt=""></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-5 d-flex align-items-center text-secondary "><i class="fa-solid fa-magnifying-glass fa-xl me-4"></i><input [(ngModel)]="searchKey" type="text" placeholder="Search Recipes" class="form-control w-100 me-5"></div>
    <!-- <pre>{{searchKey}}</pre> -->
    <div class="col-lg-3"></div>
  </div>
  <div class="landing-text d-flex justify-content-center align-items-center">
    <h1 class="fw-lighter">Explore Recipes</h1>
  </div>
</div>

<div class="content px-5">
  <div class="category px-5 py-1 shadow border  mt-4 rounded-4 d-flex justify-content-between align-items-center ">
    <button (click)="setCategory('')" class="cat-btn btn fs-6">ALL</button>
    <button (click)="setCategory('Breakfast')" class="cat-btn btn fs-6">BREAKFAST</button>
    <button (click)="setCategory('Lunch')" class="cat-btn btn fs-6">LUNCH</button>
    <button (click)="setCategory('Dinner')" class="cat-btn btn fs-6">DINNER</button>
    <button (click)="setCategory('Side Dish')" class="cat-btn btn fs-6">SIDE DISH</button>
    <button (click)="setCategory('Snack')" class="cat-btn btn fs-6">SNACKS</button>
    <button (click)="setCategory('Dessert')" class="cat-btn btn fs-6">DESSERT</button>
    <button (click)="setCategory('Beverage')" class="cat-btn btn fs-6">BEVERAGE</button>
  </div>
  <!-- <pre>{{category}}</pre> -->

  <div class="mt-3 d-flex flex-wrap p-4">
    <div *ngFor="let recipe of allRecipes | search:searchKey | category:category ;let i=index" class="card m-3 shadow " style="width: 19rem;">
      <img height="200px" src={{recipe.image}} class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <div class="d-flex flex-wrap"><h6 *ngFor="let tag of recipe.tags" class="fw-light text-danger me-2">#{{tag}}</h6></div>
        <div class="d-flex justify-content-center align-items-center"><button class="btn" (click)="setViewInstruction()"><i class="fa-solid fa-chevron-down fa-xl"></i></button></div>
        <div *ngIf="viewInstruction">
          <h6 class="fw-bold">Instructions</h6>
          <p *ngFor="let instruction of recipe.instructions" class="card-text">-{{instruction}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="(allRecipes | search:searchKey).length==0">
      <p class="fw-bolder text-danger">No Recipe found....</p>
    </div>
  </div>
  </div>